@{
    ViewBag.Title = "Test Password Strength";
}

<h2>@ViewBag.Title.</h2>
<form action="/Home/PasswordStrength" method="post">
    <label>Password: </label>
    <input type="password" name="sPassword" />

    <input type="submit" value="Get Password Strength" />
</form>
<label>The password strength is: @ViewBag.Strength</label>